*.7z
*.832
*.846
*.856
*.940
*.943
*.944
*.945
*.997
*.bat
*.bluej
*.btw
*.chm
*.class
*.classpath
*.csv
*.ctxt
*.dat
*.db
*.doc
*.docx
*.edi
*.epub
*.fcp
*.gif
*.gsheet
*.htm
*.html
*.index
*.iml
*.ini
*.jar
*.jpg
*.kdb
*.lock
*.log
*.mobi
*.msg
*.pdf
*.png
*.prefs
*.project
*.properties
*.pyc
*.rar
*.rdl
*.resources
*.tree
*.tsv
*.txt
*.version
*.wri
*.wmv
*.xml
*.xls
*.xlsx
*.zip
